@import 'bourbon';
$default-font: 'Lato',
sans-serif;
// color
$text-color: #555555;
$text-light: #868f93;
$gray-light: #e1e1e1;
$dark-color: #111111;
$black: #000000;
$accent: #ded3aa;
$blue: #68899a;
$blue-light: #d9e1e6;
// size
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-mini: 10px;
