@import "bourbon";
@import "libs";
@import "vars";
@import "components";
*,
*:before,
*:after {
 box-sizing: border-box;
}

*::-webkit-input-placeholder {
 color: #555555;
 opacity: 1;
}

*:-moz-placeholder {
 color: #555555;
 opacity: 1;
}

*::-moz-placeholder {
 color: #555555;
 opacity: 1;
}

*:-ms-input-placeholder {
 color: #555555;
 opacity: 1;
}

* {
 margin: 0;
 padding: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
 color: #555555;
}

body input:required:valid,
body textarea:required:valid {
 color: #555555;
}

html,
body {
 height: 100%;
 font-family: $default-font;
 color: $text-color;
}

body {
 font-size: $font-size-base;
 min-width: 320px;
 position: relative;
 line-height: 1.75;
 overflow-x: hidden;
}

img {
 max-width: 100%;
 height: auto;
}

ul {
 padding-left: 1.3rem;
}

button {
 background: none;
 border: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.select-group {
 display: inline-block;
 max-width: 100%;
 position: relative;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 &:after {
  content: "\f0dd";
  position: absolute;
  right: 10px;
  top: 50%;
  color: $gray-light;
  transform: translate(0, -70%);
 }
}

select {
 padding: 10px;
 width: 170px;
 max-width: 100%;
 background-color: transparent;
 border-color: $gray-light;
 font-family: $default-font;
 font-size: 13px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

option[disabled] {
 color: $gray-light;
}

label {
 display: inline-block;
 text-transform: uppercase;
 color: $dark-color;
 font-weight: bold;
 margin-bottom: 14px;
}

.btn {
 padding: 10px;
 min-width: 128px;
 border: 1px solid $gray-light;
 font-size: $font-size-small;
 text-transform: uppercase;
 color: $dark-color;
 transition: all 0.2s ease-in-out;
 &.accent {
  border: 2px solid $accent;
 }
 &:hover {
  border-color: $black;
 }
 &.btn-dark {
  background: $dark-color;
  color: #fff;
  &:hover {
   background: transparent;
   color: $dark-color;
  }
 }
 &.large {
  padding-top: 16px;
  padding-bottom: 16px;
 }
 &.w100 {
  width: 100%;
 }
}

.text-bold {
 font-weight: bold;
}

.notification-panel {
 position: relative;
 padding: 7px 0 6px;
 font-size: $font-size-mini;
 text-transform: uppercase;
 text-align: center;
 background-color: $blue-light;
 color: $text-light;
}

.close-notification {
 position: absolute;
 right: 15px;
 top: 0;
 height: $font-size-base;
 width: $font-size-base;
 font-size: $font-size-base;
 line-height: $font-size-base;
}

.cart-wrap {
 text-align: right;
}

.top-spacer-base {
 padding-top: 9px;
}

.notification-wrap {
 padding-right: 15px;
}

header {
 margin-bottom: 48px;
}

.header-top-line {
 padding-top: 10px;
 padding-bottom: 15px;
}

.header-bottom-line {
 padding-top: 22px;
 padding-bottom: 24px;
}

.horizontal-border {
 border-width: 0;
 border-color: $gray-light;
 border-style: solid;
 border-top-width: 1px;
 border-bottom-width: 1px;
}

.language-switcher {
 font-size: $font-size-small;
 color: $dark-color;
 i {
  color: $text-light;
  height: 14px;
 }
 &>* {
  vertical-align: middle;
  &+* {
   margin-left: 7px;
  }
 }
}

.text-center {
 text-align: center;
}

.text-right {
 text-align: right;
}

.menu-toggle-label {
 cursor: pointer;
 input {
  display: none;
 }
}

.main-menu {
 text-align: center;
 font-size: $font-size-small;
 text-transform: uppercase;
 list-style: none;
 li {
  display: inline-block;
  &>* {
   vertical-align: middle
  }
  &+li {
   margin-left: 52px;
  }
 }
 a {
  color: $dark-color
 }
 i {
  padding-left: 6px;
  height: 1.35em;
  color: $text-light
 }
}

.relative {
 position: relative;
}

.menu-toggle-label {
 position: absolute;
 z-index: 10;
 left: 15px;
 button {
  font-size: 16px;
 }
}

#menu-toggle {
 display: none;
}

.dotted-bordered-buttons {
 text-align: right;
 font-size: 0;
 button {
  color: $dark-color;
  font-size: 16px;
  line-height: 1.4;
  &:first-child {
   position: relative;
   margin-right: 20px;
   &::after {
    content: "";
    position: absolute;
    border-left: 1px dotted $text-light;
    width: 1px;
    display: inline-block;
    height: 30px;
    right: -15px;
    top: 50%;
    transform: translate(0, -50%);
   }
  }
  &+button {
   margin-right: 3px;
   margin-left: 12px;
  }
  &:focus {
   &:after {
    outline: 0;
   }
  }
 }
}

.fz0 {
 font-size: 0;
}

.image-placeholder {
 width: 22%;
 font-size: 1rem;
 display: inline-block;
 min-height: 90px;
 margin-bottom: 22px;
 background: $gray-light;
 &+.image-placeholder:not(:last-child) {
  margin-right: 4%;
 }
 &:first-child {
  width: 100%;
 }
}

h1 {
 color: $dark-color;
 font-size: 24px;
}

.uppercase {
 text-transform: uppercase
}

.text-dark {
 color: $dark-color;
}

dl {
 margin-bottom: 25px;
}

p {
 margin-bottom: 12px;
}

dt {
 float: left;
 margin-right: 5px;
 color: $dark-color;
}

dd {
 color: $blue;
}

.price {
 margin-bottom: 15px;
 font-size: 24px;
 color: $blue;
}

.text-light {
 font-weight: 300;
}

.mt6px {
 margin-top: 6px;
}

.mb5px {
 margin-bottom: 5px
}

.mb25px {
 margin-bottom: 25px;
}

.mr15px {
 margin-right: 15px;
}

.mb10px {
 margin-bottom: 10px;
}

.quantity-input {
 display: inline-block;
 position: relative;
 width: 70px;
 height: 35px;
 input {
  width: 35px;
  height: 35px;
  padding: 5px;
  border: 1px solid $gray-light;
 }
 button {
  position: absolute;
  font-size: $font-size-small;
  &:first-of-type {
   top: 0;
   right: 0;
   width: 36px;
   height: 18px;
   border: 1px solid $gray-light;
   &:before {
    display: inline-block;
    margin-top: 5px;
    color: #ccc;
   }
  }
  &:last-of-type {
   bottom: 0;
   right: 0;
   width: 36px;
   height: 18px;
   border: 1px solid $gray-light;
   border-top-width: 0;
   &:before {
    display: inline-block;
    margin-bottom: 5px;
    color: #ccc;
   }
  }
 }
}

.share-zone {
 padding-top: 14px;
 padding-bottom: 14px;
 margin-bottom: 30px;
}

footer {
 text-align: center;
 padding: 23px 0;
 border-top: 1px solid $gray-light;
}

.padding-top-base {
 padding-top: 8px;
 padding-bottom: 8px;
}

@import "media"
